.TreePanelContainer {
    height: 100%;
    min-width: 10px;
    overflow: auto;
    white-space: nowrap;
    background-color: #ffffff;
    border-radius: 8px;
    /*border: 1px solid #ff0000;*/
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.TreeNodeText {
    height: 9px;
    width: 9px;
    line-height: 20px;
    padding: 3px 0 4px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 14px
}

.TreeNodeElement {
    margin-left: 10px;
    display: block;
    font-family: "Inter";
    font-size: 14px;
    color: #444;
    background-color: #fff;
    cursor: pointer;
    padding: 0
}

    .TreeNodeElement a {
        text-decoration: none
    }

.TreeNodeImage {
    height: 9px;
    width: 9px;
    padding: 3px 0 4px 14px;
    background-repeat: no-repeat;
    background-position: left center
}

.TreeNodeOpened {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAElBMVEX/AP9mZmZvb294eHifn5/h4eH2qVJ2AAAAAXRSTlMAQObYZgAAADBJREFUeF5jgAAHMBZhYGARYFB0YHBUYAgSYREKYGBVFFRlYGAIEgpgYGBgNWWAAgBfjgOBpEe01AAAAABJRU5ErkJggg==)
}

.TreeNodeClosed {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAD1BMVEX/AP9mZmaLi4vExMTr6+vtIp9tAAAAAXRSTlMAQObYZgAAABxJREFUeF5jYBY0YAACQ2EggcphEnQAs+HiCCYAQdYCdG+jHY4AAAAASUVORK5CYII=)
}

.TreeNodeHeader {
    padding: 3px 10px 4px 5px;
    line-height: 22px;
    visibility: hidden
}

.TreeNodeSelected {
    background-color: #d4d4d4
}

.ViewOnHide {
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.ViewOnShow {
    height: 100%;
    visibility: visible;
    overflow: auto
}

.ViewCell {
    padding: 3px 4px 4px 4px
}

.ViewField {
    color: #326db5;
    display: inline
}

.ViewLabel {
    display: inline
}

.ViewImage {
    width: 60px;
    height: 80px
}

.ViewDiv {
    display: inline
}

.ViewBlank {
    background-color: white;
    border: thin solid gray;
    width: 58px;
    height: 78px
}

.ViewTable {
    white-space: nowrap;
    font-family: "Inter";
    font-size: 14px;
    color: #444;
    padding: 10px
}

.ViewBreak {
    background-color: #fff;
    border-top-color: #ced3de;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    height: 1px;
    margin-bottom: 1px;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.ViewLabelDescription {
    color: #008100
}
