<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="securityLevel" value="3" />
    <add key="networkKey" value="012345" />
    <add key="serialNumber" value="3760AC9AE11C189D897F7C194" />
    <add key="sysDatabaseName" value="ERP_AI_V40_Sys" />
    <add key="confirmEscape" value="0" />
    <add key="gridAutoAppearance" value="1" />
    <add key="gridAutoExpansion" value="30" />
    <add key="gridRedundant" value="1" />
    <add key="limitLoginAttempts" value="3" />
    <add key="limitConcurrentUsers" value="30" />
    <add key="xmlLargeSize" value="1024000" />
    <add key="commandTimeout" value="300" />
    <add key="processTimeout" value="1800" />
    <add key="reportTimeout" value="1800" />
    <!--<add key="defaultReportFont" value="Times New Roman" />-->
    <add key="denyCompressionMethods" value="GetHandleExternal, GetCompletionList, GetGridResponse, GetDirResponse" />
    <add key="languageType" value="1" />
    <add key="importMode" value="0" />
    <add key="fileLocation" value="E:\ERP_AI\ERP_AI_40\ERP_AI_V40\Upload" />
    <add key="fileStream" value="0" />
    <add key="notify" value="1" />
    <add key="invokeTimeout" value="480000" />
    <add key="service" value="1" />
    <add key="dueTime" value="30000" />
    <add key="intervalTime" value="30000" />
    <add key="approvalComment" value="1" />
    <add key="mailScheduler" value="0" />
    <add key="mailRemind" value="1" />
    <add key="localStorageKey" value="offlineMessage,offlineMessageKey,offlineMessageList" />
    <add key="multiMailService" value="0" />
    <add key="xmlPath" value="E:\ERP_AI\ERP_AI_40\ERP_AI_V40\App_Data\Upload\XML" />
    <add key="pdfPath" value="E:\ERP_AI\ERP_AI_40\ERP_AI_V40\App_Data\Upload\PDF" />
    <add key="fileLogTimeout" value="30" />
    <add key="pdfLargeSize" value="1024000" />
    <add key="pdfDownloadPath" value="E:\ERP_AI\ERP_AI_40\ERP_AI_V40\App_Data\Download\PDF" />
    <add key="zipPath" value="E:\ERP_AI\ERP_AI_40\ERP_AI_V40\App_Data\Download\Zip" />
    <add key="taxUrl" value="https://hoadondientu.gdt.gov.vn:30000" />
    <add key="invoiceService" value="0" />
    <add key="invoiceType" value="0" />
    <add key="invoiceTimeout" value="1800000" />
    <add key="denySessionStorage" value="1" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="appConnectionString" connectionString="Data Source=LAPTOP-CKNIRKM8\SQLEXPRESS;Initial Catalog=%Database;Application Name=%UserID;Uid=sa;Pwd=123456;" providerName="System.Data.SqlClient" />
    <add name="sysConnectionString" connectionString="Data Source=LAPTOP-CKNIRKM8\SQLEXPRESS;Initial Catalog=ERP_AI_V40_Sys;Uid=sa;Pwd=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <outputCache enableOutputCache="false" />
    </caching>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=Neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="AI_ERP" namespace="AI_ERP.MenuExtender" assembly="AI_ERP.MenuExtender" />
        <add tagPrefix="AI_ERP" namespace="AI_ERP.ReportExtender" assembly="AI_ERP.ReportExtender" />
        <add tagPrefix="AI_ERP" namespace="AI_ERP.NotifyExtender" assembly="AI_ERP.NotifyExtender" />
      </controls>
    </pages>
    <authentication mode="Windows" />
    <authorization>
      <deny verbs="OPTIONS" users="*" />
      <deny verbs="TRACE" users="*" />
      <deny verbs="HEAD" users="*" />
      <deny verbs="PROPFIND" users="*" />
      <deny verbs="COPY" users="*" />
      <deny verbs="LOCK" users="*" />
      <deny verbs="UNLOCK" users="*" />
      <deny verbs="PROPPATCH" users="*" />
      <deny verbs="MKCOL" users="*" />
      <deny verbs="MOVE" users="*" />
      <deny verbs="DELETE" users="*" />
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.htm">
      <error statusCode="403" redirect="Error.htm" />
      <error statusCode="404" redirect="Error.htm" />
    </customErrors>
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="3600" />
    <httpHandlers>
      <add verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" validate="true" />
    </httpHandlers>
    <httpModules>
      <add name="JsonCompressionModule" type="AI_ERP.ReportExtender.JsonCompressionModule" />
    </httpModules>
    <sessionState mode="InProc" cookieless="false" timeout="60" cookieName="AI_ERP.SessionId" />
    <globalization culture="en-GB" uiCulture="en-GB" />
    <trust legacyCasModel="true" level="Full" originUrl="" processRequestInApplicationTrust="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
      <authorization>
        <add accessType="Allow" users="?" />
      </authorization>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="JsonCompressionModule" preCondition="managedHandler" type="AI_ERP.ReportExtender.JsonCompressionModule" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <caching enabled="true" enableKernelCache="true" />
  </system.webServer>
  <location path="Controllers">
    <system.web />
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>