<?xml version="1.0" encoding="utf-8" ?>

<modules xmlns="urn:schemas-ai-erp:data-module">
  <module id="06.00.00" v="Kế toán" e="Accounting">
    <controller value="GLTran, CBTran, CPTran, CRTran, CDTran, ARTran, APTran, rptGeneralJournal, rptTrialBalance, rptBalanceSheet" />
  </module>
  <module id="09.00.00" v="Bán hàng" e="Sales">
    <controller value="SQTran, SOTran, SVTran, ARTran, SITran, SOClose, Sales, SOApproval, SOAuthorize, STTran, STConfirm, SRTran, GRTran, AITran, rptSOStatusReport" />
  </module>
  <module id="12.00.00" v="Mua hàng" e="Purchasing">
    <controller value="PRTran, PRApproval, PQTran, SATran, POTran, PITran, POApproval, PKTran, PDTran, PTTran, PSTran, POClose, PRClose, rptPOPIStatusReport" />
  </module>

  <module id="15.00.00" v="Tồn kho sổ sách" e="Inventory">
    <controller value="IRTran, ISTRan, ITTran, IPTran, AdjustmentIssueTran, rptStockBalance, rptStockSummary" />
  </module>
  <module id="15.00.00" v="Tồn kho thực tế" e="Warehouse">
    <controller value="WHTran, WITran, WTTran, WQTran, rptPhysicalInventoryComparison" />
  </module>

  <module id="15.80.00" v="Kế hoạch" e="Planning">
    <controller value="MRPRun, MPSRun, rptMPSBucketReport, rptMRPBucketReports" />
  </module>
  <module id="16.00.00" v="Giá thành" e="Cost">
    <controller value="rptCOCard, rptCOCardMulti, rptProductCostByFactorGroup, rptExpensesAggregation" />
  </module>
  <module id="17.00.00" v="Dự án" e="Project">
    <controller value="rptMaterialTransactionListByJob, rptMaterialCostListByJob, rptJobSummary, rptJobAccumulationSummary, rptMaterialSummaryByJob, rptMaterialCostSummaryByJob" />
  </module>
  <module id="18.00.00" v="Tài sản, công cụ" e="Assets, Tools">
    <controller value="FATran, TSTran, TS2Tran, rptFASituationSummary, rptFADepreciation, rptFADepreciationByCapital, rptFADepreciationAllocation, rptFADepreciationAllocationByDepartment, rptFASummaryDepreciationReport, rptTSHandedReport, rptTSLiquidationReport, rptTSDetailIncreaseDecrease, rptTSSituationDetail, rptTSSituationSummary, rptTSAllocationSheet, rptTSExpensesAllocation, rptTSExpensesAllocationByDepartment, rptTS2HandedReport, rptTS2LiquidationReport, rptTS2TransferReport, rptTS2ReappraisalReport, rptTS2DetailIncreaseDecrease, rptTS2SituationDetail, rptTS2Allocation, rptTS2ExpensesAllocation, rptTS2ExpensesAllocationByDepartment" />
  </module>

  <module id="24.00.00" v="Đầu tư" e="Investment">
    <controller value="rptInvestmentSource, rptDetailOfInvestmentSource, rptInvestmentImplementationbyProject, rptInvestmentLiquidationbyProject, rptInvestmentImplementation, rptOtherExpenses, rptPMUExpenses, rptBalanceSheetForInvestors" />
  </module>

  <module id="25.00.00" v="Nhân sự" e="Employees">
    <controller value="hrptCurriculumVitae, hrptEmpStatisticsByDept, hrptEmpStatisticsByJobNature, hrptEduStatisticsByDeptPos, hrptWorkSeniorityByDept, hrptWorkSeniorityByMonth, hrptEmpProbationPeriodByDept, hrptAgeStatisticsDeptPos, hrptAgeStatisticsMaritalStatus, hrptJobLeavingPercentage, hrptJobLeavingStatisticsbyReason, hrptTMRequirement, hrptTMPlan, hrptTMImplementation, hrptRMRequirement, hrptRMInformation, hrptRMApplicantProfile, hrptTSIssue, hrptTSDecrease, hrptTSIssueStatusEmployee, hrptTSIssueStatusPosition" />
  </module>

  <module id="31.00.00" v="Chấm công, lương..." e="Timekeeping, Payroll">
    <controller value="hrptTimesheet, hrptTimesheetByDay, hrptTimesheetDetailed, hrptEmployeeWorkdaySheet, hrptOvertimeSheet, hrptLateInEarlyOut, hrptEmployeeLateInEarlyOutStatistics, hrptPayroll001, hrptPayroll002, hrptPayroll003, hrptPayroll004, hrptPayroll012, hrptPayroll007, hrptPayroll008, hrptPayroll009, hrptPayroll005, hrptPayroll006, hrptPayroll016, hrptPayroll010, hrptPayroll011, hrptResultSalary2GL, hrptPayroll013" />
  </module>

  <module id="37.00.00" v="Bảo hiểm" e="Insurance">
    <controller value="hrptSIHIDeclaration, hrptChangeLaborInformation, hrptEmpRequestSIBookHICard, hrptEmployeesJoiningInsurance, hrptEmployeesRequestingforInsuranceProfileChange, hrptEmployeesWithSocialInsuranceBenefits" />
  </module>
</modules>