.tip,.tipx,.tipz,.note,.notex,.notez,.war,.warx,.warz{font-family:Segoe UI;font-size:11px}.note,.notex,.notez,.war,.warx,.warz,.e,.e2,.ex,.ez,.ez,.e2z,.tip,.tipx,.tipz{border:#aaa 1px solid}.right{text-align:right}.note{font-style:italic;color:#009;margin:1em 2em 0 200px;background-color:#efefef;line-height:22px;background-image:url('note-icon.png');text-align:justify;background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px;background-position:10px 10px}.war{color:#f00;margin:1em 2em 0 200px;line-height:22px;background-image:url('warning.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.tip{font-family:Segoe UI;font-size:8.5pt;font-style:italic;color:#00c;margin:1em 2em 0 200px;background-color:#ff9;border-top:#aaa 1px solid;border-bottom:#aaa 1px solid;line-height:22px;background-image:url('tip-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.e{font-family:Segoe UI;font-size:8.5pt;stress:inherit;font-style:italic;color:#00c;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;background-image:url('ex-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.e2{font-family:Segoe UI;font-size:8.5pt;stress:inherit;color:#00c;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;padding-left:40px;padding-right:10px;background-position:10px 10px}.fml{font-family:Segoe UI;font-size:8.5pt;stress:inherit;font-weight:bold;color:#000;margin:1em 2em 0 200px;background-color:#efefef;border-color:#000080;border-style:double;padding-left:40px;padding-right:10px;background-position:10px 10px}ul.lo_0{list-style-type:square;font-family:Segoe UI;font-size:8.5pt;margin:0 2em 0 120px;line-height:22px}ul.lo_1{list-style-type:square;font-family:Segoe UI;font-size:8.5pt;margin:0 2em 0 180px;line-height:22px}ul.lo_2{font-family:Segoe UI;font-size:8.5pt;margin:0 2em 0 220px;list-style-type:lower-alpha;line-height:22px}ul.lo_3{font-family:Segoe UI;font-size:8.5pt;margin:0 2em 0 260px;line-height:22px}.node{font-family:"Segoe UI";font-size:8.5pt;text-align:justify;text-align:justify;font-weight:bold;color:#000;margin:0 0 0 200px;padding-top:12px;line-height:22px}.node_d{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 200px;padding:5px 0 5px 0;line-height:22px}table,td,th{border:1px solid #000}table{margin:0 0 0 380px}th{height:50px;background-color:#efefef;color:#f00;text-align:center}td{height:50px;background-color:#fff;color:#000;text-align:left}#td1{font-family:Arial;font-size:16px;font-weight:bold;color:#3f529c;margin:0 0 0 50px;border-bottom:solid 3px #006;padding:20px 0 0 0;line-height:180%}#p1{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 50px;padding:12px 0 5px 0;line-height:22px}#td2{font-family:Arial;font-size:14px;font-weight:bold;color:#3f529c;margin:0 2em 10px 100px;border-bottom:solid 2px #006;line-height:22px}#p2{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 100px;padding:10 0 5 0;line-height:22px}#td3{font-family:Arial;font-size:8.5pt;font-weight:bold;color:#3f529c;margin:0 0 0 150px;border-bottom:solid 1px #006;line-height:22px}#p3{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 150px;padding:10 0 5 0;line-height:22px}#pic{margin:10px 0 10px 200px;font-family:Segoe UI;font-size:8.5pt;font:caption}.notex{font-family:Segoe UI;font-size:8.5pt;font-style:italic;color:#009;margin:1em 2em 0 200px;background-color:#efefef;line-height:22px;background-image:url('note-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.warx{font-family:Segoe UI;font-size:8.5pt;color:#f00;margin:1em 2em 0 200px;line-height:22px;background-image:url('warning.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.tipx{font-family:Segoe UI;font-size:8.5pt;color:#00c;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;background-image:url('tip-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.ex{font-family:Segoe UI;font-size:8.5pt;stress:inherit;color:#00c;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;background-image:url('ex-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.e2x{font-family:Segoe UI;font-size:8.5pt;stress:inherit;color:#00c;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;padding-left:40px;padding-right:10px;background-position:10px 10px}.fmlx{font-family:Segoe UI;font-size:8.5pt;stress:inherit;font-weight:bold;color:#000;margin:1em 2em 0 200px;background-color:#efefef;border-color:#000080;border-style:double;padding-left:40px;padding-right:10px;background-position:10px 10px}ul.lo_0x{list-style-type:square;font-family:Segoe UI;font-size:8.5pt;color:#000;margin:0 2em 0 120px;line-height:22px}ul.lo_1x{list-style-type:square;font-family:Segoe UI;font-size:8.5pt;color:#000;margin:0 2em 0 180px;line-height:22px}ul.lo_2x{font-family:Segoe UI;font-size:8.5pt;color:#000;margin:0 2em 0 220px;list-style-type:lower-alpha;line-height:22px}ul.lo_3x{font-family:Segoe UI;font-size:8.5pt;color:#000;margin:0 2em 0 260px;line-height:22px}.nodex{font-family:"Segoe UI";font-size:8.5pt;text-align:justify;text-align:justify;font-weight:bold;color:#000;margin:0 0 0 200px;padding-top:12px;line-height:22px}.node_dx{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 200px;padding:5px 0 5px 0;line-height:22px}table,td,th{border:1px solid #000}table{margin:0 0 0 380px}th{height:50px;background-color:#efefef;color:#f00;text-align:center}td{height:50px;background-color:#fff;color:#000;text-align:left}#td1x{font-family:Arial;font-size:16px;font-weight:bold;color:#3f529c;margin:0 0 0 50px;border-bottom:solid 3px #006;padding:20px 0 0 0;line-height:180%}#p1x{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 50px;padding:12px 0 5px 0;line-height:22px}#td2x{font-family:Arial;font-size:14px;font-weight:bold;color:#3f529c;margin:0 0 10px 100px;border-bottom:solid 2px #006;line-height:22px}#p2x{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 100px;padding:10 0 5 0;line-height:22px}#td3x{font-family:Arial;font-size:8.5pt;font-weight:bold;color:#3f529c;margin:0 0 0 150px;border-bottom:solid 1px #006;line-height:22px}#p3x{font-family:Segoe UI;font-size:8.5pt;text-align:justify;margin:0 2em 0 150px;padding:10 0 5 0;line-height:22px}#picx{margin:10px 0 10px 165px;font-family:Segoe UI;font-size:8.5pt;font:caption}#td1z{font-family:Arial;text-decoration:line-through;font-size:16px;font-weight:bold;color:#f0f;margin:0 0 0 50px;border-bottom:solid 3px #006;padding:20px 0 0 0;line-height:180%}#p1z{font-family:Segoe UI;text-decoration:line-through;font-size:8.5pt;text-align:justify;color:#f0f;margin:0 2em 0 50px;padding:12px 0 5px 0;line-height:22px}#td2z{font-family:Arial;text-decoration:line-through;font-size:14px;font-weight:bold;color:#f0f;margin:0 0 10px 100px;border-bottom:solid 2px #006;line-height:22px}#p2z{font-family:Segoe UI;text-decoration:line-through;font-size:8.5pt;text-align:justify;color:#f0f;margin:0 2em 0 100px;padding:10 0 5 0;line-height:22px}#td3z{font-family:Arial;font-size:8.5pt;text-decoration:line-through;font-weight:bold;color:#f0f;margin:0 0 0 150px;border-bottom:solid 1px #006;line-height:22px}#p3z{font-family:Segoe UI;text-decoration:line-through;font-size:8.5pt;text-align:justify;color:#f0f;margin:0 2em 0 150px;padding:10 0 5 0;line-height:22px}.notez{font-family:Segoe UI;font-size:8.5pt;text-decoration:line-through;font-style:italic;color:#f0f;margin:1em 2em 0 200px;background-color:#efefef;line-height:22px;background-image:url('note-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.warz{font-family:Segoe UI;font-size:8.5pt;color:#f0f;text-decoration:line-through;margin:1em 2em 0 200px;line-height:22px;background-image:url('warning.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.tipz{font-family:Segoe UI;font-size:8.5pt;text-decoration:line-through;color:#f0f;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;background-image:url('tip-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.ez{font-family:Segoe UI;font-size:8.5pt;stress:inherit;text-decoration:line-through;color:#f0f;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;background-image:url('ex-icon.png');background-repeat:no-repeat;padding-left:40px;padding-right:10px;background-position:10px 10px}.e2z{font-family:Segoe UI;font-size:8.5pt;stress:inherit;text-decoration:line-through;color:#f0f;margin:1em 2em 0 200px;background-color:#ff9;line-height:22px;padding-left:40px;padding-right:10px;background-position:10px 10px}.fmlz{font-family:Segoe UI;font-size:8.5pt;stress:inherit;font-weight:bold;text-decoration:line-through;color:#f0f;margin:1em 2em 0 200px;background-color:#efefef;border-color:#000080;border-style:double;padding-left:40px;padding-right:10px;background-position:10px 10px}ul.lo_0z{list-style-type:square;font-family:Segoe UI;font-size:8.5pt;color:#f0f;text-decoration:line-through;margin:0 2em 0 120px;line-height:22px}ul.lo_1z{list-style-type:square;font-family:Segoe UI;font-size:8.5pt;color:#f0f;text-decoration:line-through;margin:0 2em 0 180px;line-height:22px}ul.lo_2z{font-family:Segoe UI;text-decoration:line-through;font-size:8.5pt;color:#f0f;margin:0 2em 0 220px;list-style-type:lower-alpha;line-height:22px}ul.lo_3z{font-family:Segoe UI;font-size:8.5pt;color:#f0f;text-decoration:line-through;margin:0 2em 0 260px;line-height:22px}.nodez{font-family:"Segoe UI";text-decoration:line-through;font-size:8.5pt;text-align:justify;font-weight:bold;color:#f0f;margin:0 0 0 200px;padding-top:12px;line-height:22px}.node_dz{font-family:Segoe UI;text-decoration:line-through;font-size:8.5pt;color:#f0f;margin:0 2em 0 200px;padding:5px 0 5px 0;line-height:22px}


SPAN.Strong {
	font-weight: bold;
}
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 50%;
  border: 2px solid white;
  text-align: left;
  outline: none;
  font-size: 15px;
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.active, .collapsible:hover {
  background-color: none;
}
ul,myUl{
	list-style-type: none;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color:none;
  width:85%;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "+**************";
 	font-family: Segoe UI;
	font-size:8.5pt;	text-align:justify; 
	margin:0 2em 0 200px; 
	padding:5px 0 5px 0;
	line-height:22px; 
}

.caret-down::before {
  content: "---------------------------------";
  -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari */'
  transform: rotate;  
 	font-family: Segoe UI;
	font-size:8.5pt;	text-align:justify; 
	margin:0 2em 0 200px; 
	padding:5px 0 5px 0;
	line-height:22px; 
}

.nested {
  display: none;
}

.active {
  display: block;
   	font-family: Segoe UI;
	font-size:8.5pt;	text-align:justify; 
	margin:0 2em 0 200px; 
	padding:5px 0 5px 0;
	line-height:22px; 
}

.tt {
  position: relative;
  display: inline-block;
  	font-family: Segoe UI; font-size:8.5pt;stress:inherit;
	font-style: italic;
	color:#009;
	line-height:22px;
	background-position:10px 10px ;	
 
}

.tt .ttt {
  visibility: hidden;
  width: 500px;
  background-color: #FFFFEC;
  color: #00C;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0 0 80px;
/*  background-image:url('tip-icon.png'); 
  background-repeat:no-repeat;*/
  position: absolute;
  z-index: auto;	
}


.tt:hover .ttt {
    visibility: visible;
    z-index: 1;
}

.tt span{display:none;background-color:#ffffec;color:#00c;min-width:400px;width:auto;}

.tt span::after {
  content: "";
  color: #00C;
  margin: 1em 2em 0 200px;
}
.tt input {
  display:none;
}
.tt input:checked + span {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 100000000;	
 border: 1px solid  blue; 
}